:root {
  --yellow: #e5c890;
  --white: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #303446;
}

a {
  color: var(--yellow);
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: var(--yellow);
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

.hero-banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/moon-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    margin-bottom: 0 !important;
    position: relative;
}

.hero-banner h1 {
    color: #e5c890;
    font-size: 72px;
    text-align: center;
}

.hero-banner p {
    color: var(--white);
    font-size: 32px;
    text-align: center;
}

.navbar {
    background-color: #232634 !important;
    border-bottom: var(--white) 3px solid;
}

.sectionHeading {
  text-align: center;
  color: var(--yellow);
}

.content {
  padding: 50px;
}

.portfolioWorks {
  padding: 0px 30px 30px 30px;
}

.cardContainer {
  text-align: center;
}

.cardContainerP {
  padding-top: 30px;
}
