html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #e5c890;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #e5c890;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

.hero-banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/moon-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    background-position: center;
    position: relative;
}

.hero-banner h1 {
    color: #e5c890;
    font-size: 72px;
    text-align: center;
    padding-top: 30px;
}

.hero-banner p {
    color: white;
    font-size: 32px;
    text-align: center;
}